/* line 2, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
.intro {
  position: relative;
  min-height: 100vh;
  padding: 30px 0; }
  /* line 6, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
  .intro h1 {
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 40px; }
    /* line 12, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
    .intro h1 strong {
      text-decoration: underline;
      font-weight: 900;
      color: #95a5a6; }
  /* line 17, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
  .intro a {
    color: #2980b9;
    font-weight: bold; }
  /* line 21, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
  .intro .scroll-down {
    margin-top: 20px; }
    /* line 23, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
    .intro .scroll-down a {
      color: #000; }
      /* line 25, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
      .intro .scroll-down a:hover {
        text-decoration: none; }

@media(max-width: 1000px) {
  /* line 29, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
  .intro {
    height: auto; }
    /* line 31, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
    .intro h1 {
      font-size: 2em; }
    /* line 34, /home/augusto/projects/augustolazaro.github.io/source/stylesheets/components/intro.sass */
    .intro .intro-description .subheadline, .intro .intro-description p {
      font-size: 2em; } }
